<ion-content>
  <div class="commande-content">
    <div class="commande-header">
      <h1 class="commande-title">Mes commandes</h1>
    </div>
    <div class="commande-filters">
      <div class="commande-filter">
        <ion-select placeholder="Toutes les commandes" interface="popover">
          <ion-select-option value="all">Toutes les commandes</ion-select-option>
          <ion-select-option value="in-progress">En cours</ion-select-option>
          <ion-select-option value="completed">Terminées</ion-select-option>
        </ion-select>
      </div>
    </div>
  </div>
</ion-content>